@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: #28282B;
  padding: 0;
  margin: 0;
}

/* Navbar config */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px gray;
}

.navbar img {
  height: auto;
  width: 45px;
}

.btn_menu {
  float: left;
  line-height: 15%;
}

.btn_menu label {
  font-size: 40px;
  margin-left: 12px;
  cursor: pointer;
}

.main_menu_logos {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#btn-menu {
  display: none;
}

.lateral_menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked ~ .lateral_menu {
  opacity: 1;
  visibility: visible;
}

#btn-menu:checked ~ .lateral_menu .la_menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.la_menu {
  width: 100%;
  max-width: 250px;
  background: white;
  height: 100vh;
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.la_menu nav {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.la_menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #28282B;
  border-left: 5px solid transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.la_menu nav a:hover {
  border-left: 5px #c7c7c7;
  background: #067e3d;
  color: white;
}

.la_menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
}

main {
  text-align: center;
}

/* adds config*/
.adds img {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 75%;
  width: 100%;
}

.adds button {
  margin-bottom: 10px;
}

/* products config */
.products img {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 70%;
  width: 100%;
}

.products button {
  margin-bottom: 10px;
}

.brand {
  margin: 5px;
  padding: 10px;
}

.dropdowns {
  margin: 5px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter_phrase {
  margin: 5px;
  padding-right: 10px;
  padding-top: 15px;
  font-size: medium;
}

/* Footer config */
.footer {
  margin: 5px;
  padding: 10px;
  border-top: solid 1px gray;
}

.footer a {
  text-decoration: none;
  color: #28282B;
  font-size: 20px;
}

.footer_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer_social_networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.facebook .fa-brands {
  color: #3b5998;
}

.twitter .fa-brands {
  color: #00acee;
}

.instagram .fa-brands {
  color: #E1306C;
}

/* Contact page form config */
.form_name, .form_last_name,
.comments_field_tittle,
.comments_field,
.form_buttons {
  margin: 3px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_name label, .form_last_name label, .comments_field_tittle label, .comments_field label, .form_buttons label,
.form_name input,
.form_last_name input,
.comments_field_tittle input,
.comments_field input,
.form_buttons input,
.form_name textarea,
.form_last_name textarea,
.comments_field_tittle textarea,
.comments_field textarea,
.form_buttons textarea,
.form_name button,
.form_last_name button,
.comments_field_tittle button,
.comments_field button,
.form_buttons button {
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}

/* Tutorials page config */
.videos {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

/* Location page config */
.title_map {
  margin: 5px;
  padding: 10px;
}

.map {
  margin: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */